.transactionHistory {
    width: 100%;
    max-width: 1200px;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.transactionHistory tbody {
    background-color: rgba(221, 221, 221, 0.626);
}

.transactionHistory th,
.transactionHistory td {
    padding: 10px 15px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    border: 1px solid #000;
}

.transactionHistory th {
    background-color: #212121;
    color: #f7ecec;
    font-weight: 700;
}

.transactionHistory td {
    text-transform: capitalize;
}

.transactionHistory tr:nth-child(even) {
    background-color: #ccc;
}